<div class="container center">
  <mat-card class="card-capacity">
    <mat-card-header>
      <mat-card-title>Lembrete</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="formulario" class="row">
      <mat-form-field appearance="fill" class="col-md-4">
        <input matInput placeholder="nome" formControlnome="name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <input matInput [matDatepicker]="picker" placeholder="data" formControlName="data">

        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card>
</div>