mat-form-field{
    margin-left: 10px;
    margin-right: 10px;
}
.center{
    display:flex;
    justify-content: center;
}
.card-capacity{
    max-width: 90%;
    min-height: 30%;
}
.btn{
    margin: 20px;
}