<div class="container center">

  <!-- card de Inserção e atualização de novo lembrete -->
  <mat-card class="card-capacity">
    <mat-card-header>
      <mat-card-title>Lembrete</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="formulario" class="row">
      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Nome do lembrete</mat-label>
        <input matInput formControlName="nome">
        <app-vmessage *ngIf="formulario.get('nome')?.errors && formulario.get('nome')?.touched"
          text="É necessário dar um nome ao lembrete!">
        </app-vmessage>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Data do lembrete</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <app-vmessage *ngIf="formulario.get('data')?.errors && formulario.get('data')?.touched"
          text="É necessário adionar data ao lembrete!"></app-vmessage>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="center">
        <button [disabled]="formulario.invalid" type="submit" class="btn btn-primary btn-block">login</button>
      </div>
    </form>
  </mat-card>
</div>

  <!-- Listagem de lembretes -->
  <div class="container">
    <mat-list>
      <mat-list-item *ngFor="let note of listaLembretes">
        <mat-icon matListItemIcon>note</mat-icon>
        <div matListItemTitle>{{note.nome}}</div>
        <div matListItemLine>{{note.data | date}}</div>
      </mat-list-item>
    </mat-list>
    </div>